* {
    background-color: gold;
}

.title {
    color: brown;
    font-size: 40px;
    text-align: center;
}
.title.left {
    text-align: center;
}
.recipe,
.text {
    color: brown;
    font-size: 24px;
}

.text.description {
    text-align: center;
}

.image {
    height: auto;
    width: 300px;
    display: block;
    margin:0px auto;
}

.image.border {
    border: 5px solid brown;
}

.button {
    display: block;
    padding: 20px;
    margin: 0 auto;
    background-color: brown;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.button:hover {
    color: yellow;
}

.back-button {
    text-decoration: none;
}

.button.homepage {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipes {
    width: 500px;
    height: 30px;
    margin: auto;
}

.principal-list {
    list-style-type: none;
}