* {
    background-color: gold;
}

.title {
    color: brown;
    font-size: 40px;
    text-align: center;
}
.title.left {
    text-align: center;
}
.recipe,
.text {
    color: brown;
    font-size: 24px;
}

.text {
    position: relative;
}

.text.description {
    text-align: center;
}

.image {
    height: auto;
    width: 300px;
    display: block;
    margin:0px auto;
}

.image.border {
    border: 5px solid brown;
}

.button {
    display: block;
    padding: 20px;
    margin: 0 auto;
    background-color: #d04949;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.button:hover {
    color: brown;
}

.back-button {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    text-decoration: none;
}

.button.homepage {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipes {
    width: 20rem;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: #d04949;
    border: 5px solid brown; 
    border-radius: 10px;
}

.recipe {
    text-decoration: none;
}

.text.box-ingredients,
.text.box-steps,
.text.box-description {
    width: auto;
    height: auto;
    padding: 20px;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #d04949;
    border: 5px solid brown;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.text.box-ingredients ul,
.text.box-steps ol {
    list-style-type: none;
    background-color: #d04949;
    padding: 0px;
}

.text.box-ingredients li,
.text.box-steps li {
    background-color: #d04949;
}

.text.box-steps {
    width: 40rem;
}

.text.box-description {
    margin-top: 40px;
}
.text.box-description p {
    background-color: #d04949;
    color: white;
}

@media (max-width: 600px) {
    .text.box-steps {
        width: auto;
    }
}